html {
  color: #111;
  background: #fff;
}

body {
  margin: 0;
  font: 16px/1.5 system-ui, sans-serif;
}

main {
  padding: 2rem;
}

h1,
p,
address {
  margin: 0;
}

address {
  font-style: normal;
}
